name: Ruby CI

on: [push]

jobs:
  code_analysis:
    name: Code Analysis
    runs-on: ubuntu-latest
    container:
      image: ruby:3.2.2

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: 3.2.2
          bundler-cache: true
      - run: gem install bundler
      - run: bundle install --jobs 4 --retry 3

      - name: Run Rubocop
        run: bundle exec rubocop

  rspec:
    name: RSpec
    runs-on: ubuntu-latest
    container:
      image: ruby:3.2.2

    services:
      postgres:
        image: postgres:16
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: jovial_test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: 3.2.2
          bundler-cache: true
      - run: |
        sudo apt-get -yqq install libpq-dev
        gem install bundler
        bundle install --jobs 4 --retry 3

      - name: Run Rspec
        env:
          DATABASE_URL: postgres://postgres:password@postgres:5432/jovial_test
          RAILS_ENV: test
        run: bundle exec rspec
